html,
body {
  padding: 0;
  margin: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


div.margin_LR_5rem{
  margin: 3rem 6rem 3rem 6rem;
}

div.Img_and_title{
  display: flex;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.title {
  font-size: 60px;
}

div.contents{
  margin: 3rem 0 3rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
